
<body ng-app="InventoryManagement">
 <div class="container">
    <div class="header">

      <nav>
        <ul class="nav nav-pills pull-right" ng-controller="sessionCtrl as session">

          <li ng-if= "!isAdmin" role="presentation"><a href="#/">Dashboard</a></li>
          <li ng-if="isAdmin" role="presentation"><a href="#/admin"> Admin Dashboard</a></li>
          <li role="presentation" ng-hide="isAuthenticated"><a href="#/sign_in">Log In</a></li>
          <li role="presentation" ng-show="isAuthenticated"><a href ="javascript:" ng-click="session.logout()">Logout</a></li>
        </ul>
      </nav>
      
    </div>

    <div ng-view></div>

  </div> <!-- /container -->


</body>